body {
    margin: 0;
    box-sizing: border-box;
    background-image: url(https://cdn.wallpapersafari.com/66/16/l4NGv9.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
footer {
    height: 30px;
    box-shadow: 0 -2px 5px white;
    background-color: black;
    /* padding-top: 5px; */
}
footer p {
    position: relative;
    color: white;
    font-size: 12px;
    margin-left: 10px;
    top: 10px;
}
header {
    background-color: rgb(0, 0, 0);
    height: 45px;
    margin-top: 0;
    box-shadow: 0 2px 5px white;
    text-align: center;
    width: 100%;
    top: 0;
    position: fixed;
}
nav a {
    text-decoration: none;
}
#main-title {
    display: inline;
    margin-top: 0;
    /* margin-left: 50px; */
    font-size: 30px;
    color: white;
    font-family: 'Yaldevi', sans-serif;
    text-shadow: 3px 3px 5px blue;
}
article {
    margin: 70px 20px;
}
h1 {
    color: white;
    font-size: 30px;
    margin-left: 10px;
    font-family: 'Yaldevi', sans-serif;
    text-shadow: 2px 2px 5px red;
}
p {
    color: white;
    font-family: 'Yaldevi', sans-serif;
    text-indent: 18px;
    font-size: 18px;
    word-spacing: 1.5;
}
#img1 {
    margin-right: 10px;
    width: 300px;
    height: 400px;
    float: left;
}
#img2 {
    margin-left: 10px;
    width: 300px;
    height: 400px;
    float: right;
}
#img3 {
    margin-right: 10px;
    width: 300px;
    height: 400px;
    float: left;
}
#img4 {
    margin-left: 10px;
    width: 300px;
    height: 400px;
    float: right;
}
#img5 {
    margin-right: 10px;
    width: 300px;
    height: 400px;
    float: left;
}
#img6 {
    margin-left: 10px;
    width: 300px;
    height: 400px;
    float: right;
}
#img7 {
    margin-right: 10px;
    width: 300px;
    height: 400px;
    float: left;
}
#img8 {
    margin-left: 10px;
    width: 300px;
    height: 400px;
    float: right;
}
#img9 {
    margin-right: 10px;
    width: 300px;
    height: 400px;
    float: left;
}
